@import "../node_modules/@angular/material/theming";
@include mat-core();

//@import './imports/styles/theme';


// theme file
// Define the default theme (same as the example above).
$default-primary: mat-palette($mat-deep-orange, 900, 300, 900);
$default-accent:  mat-palette($mat-pink, A200, A100, A400);
$default-theme:   mat-light-theme($default-primary, $default-accent);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-red);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);

$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);


// Define a light theme
$light-primary: mat-palette($mat-grey, 200, 500, 300);
$light-accent: mat-palette($mat-brown, 200);
$light-warn: mat-palette($mat-deep-orange, 200);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);



@mixin components-theme($theme) {
  $primary: map-get($theme, primary);


  sidenav h3 {
    background-color: mat-color($primary);
  }

  mat-drawer-content {
    background-color: white;
  }

  page-header {
    z-index: 50;
    position: fixed;
    width: 100%;
    // padding: 10px;
    height: 50px;
    color: white;
    background-color: mat-color($primary);
    h2 {
      margin: 0px;
    }
  }

  .mat-form-field-infix {
    width: inherit !important;
  }

  //mat-form-field {
  //  width: 100% !important;
  //}

  .titleBar {
    background-color: mat-color($primary);
  }

  fabbutton button {
    background-color: mat-color($primary) !important;
  }

  mat-tab-group.single-tab-emphasis {
    $primaryColor: mat-color($primary);

    .mat-tab-header {
      border-color: $primaryColor;
    }
    .mat-tab-label {
      color: #333333;
      font-weight: normal;
      background-color: #ffffff;
      opacity: 1;
    }
    .mat-tab-label-active {
      color: $primaryColor;
      font-weight: 500;
    }
  }
}



// end theme file

@import './imports/styles/style';

.default-theme {
  @include angular-material-theme($default-theme);
  @include components-theme($default-theme);
}
//
.light-theme {
  @include angular-material-theme($light-theme);
  @include components-theme($light-theme);
}
//
.dark-theme {
  @include angular-material-theme($dark-theme);
  @include components-theme($dark-theme);
}



#dim {
  width:100%;
  height:100%; /* make sure you have set parents to a height of 100% too*/
  position: absolute;
  left:0;
  top:0;
  z-index:10; /*just to make sure its on top*/
  opacity: .4;
  background-color: gray;
}
