node_modules/
.meteor/local
npm-debug.log
.idea
**/.DS_Store
settings.json
settings_production.json
settings_develop.json
settings_yibas.json
settings_unittest.json
settings_remote.json
atlas_yibas.json
atlas_test.json
atlas_development.json
test.json
settings_test.json
settings_develop.json
settings_unittest.json
both/client/
client/imports/observables/
client/imports/pages/developer/guofu-testing/services/
imports/client/
test/
.meteor/platforms
test.js
