.viewAll {
  background-color: #f7931e;
  border-radius: 30px;
  margin: 2px 2px 2px 0px;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  float: left;
}

.individual{
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 10px;
}