<mat-card>
  <div>
    <!--<button mat-raised-button color="primary" (click)="openDialog()">Filter</button>-->
    <button mat-raised-button color="primary" (click)="addButton()">Add Users</button>
  </div>
  <div>
    <filterBox-component (filter)="getFilterConditions($event)" [lookupName]="'users'"></filterBox-component>
  </div>
  <div [hidden]="hideTable">
    <section id="customerQuoteForm" class="container">
      <system-lookup #usersLookup [lookupName]="'users'" (onSelected)="onSelect($event)" [isModal]="false" [(data)]="data" [(filterConditions)]="filterConditions"></system-lookup>
    </section>
  </div>
  <div [hidden]="hideAddForm">
    <form [formGroup]="newUser" (submit)="addUser(newUser)" autocomplete="off" (click)="removeReadonly()">
      <mat-form-field>
        <input matInput formControlName="firstName" type="text" placeholder="First Name" required>
      </mat-form-field>
      <small style="color: red" [hidden]="newUser.controls.firstName.valid || newUser.controls.firstName.pristine">
        First name is required
      </small>
      <mat-form-field>
        <input matInput formControlName="lastName" type="text" placeholder="Last Name" required>
      </mat-form-field>
      <small style="color: red" [hidden]="newUser.controls.lastName.valid || newUser.controls.lastName.pristine">
        Last name is required
      </small>
      <mat-form-field>
        <input matInput formControlName="email" type="email" placeholder="Email" required autocomplete="off">
      </mat-form-field>
      <small style="color: red" [hidden]="newUser.controls.email.valid || newUser.controls.email.pristine">
        Email is required
      </small>
      <mat-form-field>
        <input matInput formControlName="password" type="password" placeholder="Password" required autocomplete="off" [attr.readonly]="readonly ? 'readonly' : null">
      </mat-form-field>
      <small style="color: red" [hidden]="newUser.controls.password.valid || newUser.controls.password.pristine">
        Password is required
      </small>
      <br>
      <button mat-raised-button color="warn" type="submit">Add User</button>
    </form>
  </div>
</mat-card>
