
fieldset {
  border: 1px solid #cbd4df;
  width: 400px;
}
mat-form-field {
  width: 100%;
}
.float-right{
  float: right;
}
.size-24 {
  height: 24px;
  width: 24px;
}
.filterContainer {
  position: absolute;
  float: right;
  right: 25px;
}

.disable-whole-div__cover {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #ddd;
  opacity: 0.0;
}

.select-containter {
  border: 1px solid #cbd4df;
  padding: 10px;
}