<!-- <system-lookup [lookupName]="'joeTest'" [isModal]="false"></system-lookup> -->
<br>
<!-- <button (click)='click()'>button</button> -->
<button (click)='quote()'>quote</button>
<button (click)='getQuote()'>getQuote</button>
<!-- <executive-agedInvoices #card style='margin-bottom: 10px;' [(data)]="data" >
</executive-agedInvoices> -->

<!-- <div #alertContainer [hidden]='true' style='background-color: red'></div> -->
<br>
<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      <span [style.paddingLeft.px]="40"> Name </span>
    </th>
    <td mat-cell *matCellDef="let data">
      <button mat-icon-button [style.visibility]="!data.expandable ? 'hidden' : ''" [style.marginLeft.px]="data.level * 32"
        (click)="treeControl.toggle(data)">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>

      {{data.name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef> Count </th>
    <td mat-cell *matCellDef="let data"> {{data.count}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->
<!-- <system-lookup [lookupName]="'testPaymentApprovals'" [(data)]="data"></system-lookup> -->


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->