<mat-card *ngIf="view === ''">
    <div class="actions">
        Scan or Enter <br/>Item Code
    </div>
    <form (ngSubmit)="searchItemCode()">
        <mat-form-field>
            <input #searchItemCodeInput matInput
                name="item-code"
                placeholder="Item Code"
                [(ngModel)]="itemCode"
                required
            />
            <button class="icon"
                mat-icon-button matSuffix
                aria-label="Search"
                (click)="searchItemCode()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <mat-spinner
            [diameter]="24"
            *ngIf="isSearching">
        </mat-spinner>
        <input type="submit"/>
    </form>
</mat-card>

<mat-card *ngIf="view === 'lineItems'">
    <button mat-icon-button style="float: right" (click)="hideLineItems()">
        <mat-icon class="md-24">close</mat-icon>
    </button>
    <mat-tab-group class="single-tab-emphasis" [selectedIndex]="0">
        <mat-tab label="Review">
            <system-lookup
                [lookupName]="'customerShipmentsReviewItems'"
                [documentId]="orderId"
                (onSelected)="onSelectReviewItem($event)"
                (onEvent)="onEventReviewItems($event)">
            </system-lookup>
        </mat-tab>
        <mat-tab label="Pending">
            <system-lookup
                [lookupName]="'customerShipmentsPendingItems'"
                (onSelected)="select($event)"
                [documentId]="orderId">
            </system-lookup>
        </mat-tab>
    </mat-tab-group>
</mat-card>

<simple-notifications [options]="options"></simple-notifications>
