@import "./variables";

.toolbar-title {
  text-decoration: none;
  color: white;
}

.toolbar-container {
  box-shadow:0 0 10px #566b87;
  position:fixed;
  z-index: 5;
  width: 100%;
}

.navbar-container {
  z-index: 10;
  background-color: white;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 10px #566b87;
}

.navbar-container {
  page-header {
    display: none;
    position: initial;

    ::ng-deep h2 {
      display: block !important;
      padding: 0 !important;
      font-size: 20px;
      line-height: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .search-toggle {
    display: none !important;
    position: relative;

    mat-icon {
      color: #ffffff;
      font-size: 25px;
      cursor: pointer;
    }
  }
  .search-box {
    display: none !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-right: 10px;
    background: #ffffff;

    .search-toggle.close {
      mat-icon {
        color: #000000;
      }
    }
    mat-form-field {
      top: -7px;
      width: 100%;
      height: 50px;
    }
  }
}
@media (max-width: $phone) {
  .navbar-container {
    background: #bf360c;

    .sidenav-toggle {
      mat-icon {
        color: #ffffff;
      }
    }
    .user-dropdown {
      color: #ffffff;
    }
    .company-selector {
      min-width: 0;
    }
    .select-wrapper {
      display: none;
      background: #ffffff;
    }
    page-header {
      display: block;
    }
    .search-toggle,
    .search-box {
      display: flex !important;
    }
  }
  .sidenav-container {
    .page-header-padding {
      display: none;
    }
    page-header {
      display: none;
    }
  }
}

mat-toolbar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}

.sidenav-container {
  width: 100vw;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border: none;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  position: absolute;
  z-index: 5;
  height: 100%
}

.sidenav {
  -webkit-box-shadow: 3px 0 6px rgba(0,0,0,.24);
  -moz-box-shadow: 3px 0 6px rgba(0,0,0,.24);
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  margin-top: 50px;
  position: fixed;
}

.main-sidenav-content {
  display: flex;
  //height: 100%;
  //align-items: center;
  //justify-content: center;
}

.main-sidenav {
  padding-top: 84px;
}


#customerQuote {
  min-height: 27em;

  .button.is-large {
    &:first-of-type {
      margin-left: 1rem;
    }
  }


  textarea {
    height: 3em;
  }
}

@media (max-width: $tablet) {
  #customerQuoteCategory {
    td:nth-of-type(1):before { content: "Prd. Line"; }
    td:nth-of-type(2):before { content: "Descrip."; }
  }

  #customerQuotelookup {
    td:nth-of-type(1):before { content: "Cust. #"; }
    td:nth-of-type(2):before { content: "Name"; }
    td:nth-of-type(3):before { content: "ZIP"; }
    td:nth-of-type(4):before { content: "City"; }
    td:nth-of-type(5):before { content: "State"; }
  }
}

#productTableContainer {

  .overrideInput {
    position: relative;
    z-index: 100;
  }

  .ovrdButton {
    background: #f3f3f3;
    //background-color: #4671a2;
    border-color: transparent;
    border-radius: 0;
    font-size: 14px;
    height: 32px;
    line-height: 24px;
    max-width: 4.5rem;
    padding: 3px 10px;
    text-align: center;
  }

  .selectedOverride {
    color: #fff;
  }

  .activeTable {
    background-color: $grey-light;
  }

  .selectedOverride,
  .selectedLevel {
    background-color: $secondary;
  }

  .selectedLevel {
    color: $white !important;
  }

  .selectAllLevel {
    color: $grey-darker;
  }

  .button {
    max-width: 5em;
    text-align: center;
  }
}

// a:link, a:visited {
//     text-decoration: none;
//     color: #969696;
// }

.breadcrumbs, .breadcrumbArrow {
  position: relative;
  color: #727272;
  text-decoration: none;
}

.breadcrumbs:hover {
  color: #727272;
}

.breadcrumbs:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #727272;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.breadcrumbs:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


//




.icon-menu {
  color: black;
  cursor: pointer;
  height: 40px;
  width: 40px;
  font-size: 40px;
}

.example-spacer {
  flex: 1 1 auto;
}

.user-dropdown {
  float: right;
  position: relative;
}


.sidenav {
  width: 200px;
}

.sidenavMobile {
  width: 100%;
}

.content {
  margin: 10px;
}

.box h2 {
  margin-top: 0;
}

mat-sidenav-content {
  padding: 0;
}

.company-selector {
  .select-wrapper {
    position: relative;
    padding-left: 10px;
    padding-right: 36px;
    max-width: 200px;
  }
  mat-form-field {
    top: -7px;
    width: 100%;
    max-width: 200px;
    height: 50px;
  }
  mat-spinner {
    position: absolute;
    top: 10px;
    right: 3px;
  }
}

.icon-container {
  float: left;
  position: relative;
  height: 50px;
}

fabButton {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index:20;
}

dashboard-report {
  position: fixed;
  bottom: 15px;
  right: 75px;
  z-index:20;
}

.dashboard-body {
  height: 100%;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: white;
}

.testWebsite {
  span {
    display: inline-block;
    padding: 4px 8px;
    color: #ffffff;
    background: #e74c3c;
    border-radius: 3px;
  }
  span.short {
    display: none;
  }
}
@media (max-width: $tablet) {
  .testWebsite {
    span.full-text {
      display: none;
    }
    span.short {
      display: initial;
    }
  }
}
@media (max-width: $phone) {
  .logo {
    display: none !important;
  }
  .testWebsite {
    display: none !important;
  }
}

.dim {
  position:fixed;
  opacity: .4;
  background-color: gray;
  z-index: 20;
  width: 100%;
  height: 100%;
}
body {
  display: none !important
}

.testClass {
  color: red
}

.mat-input-wrapper {
  padding-bottom: 0;
}

.mat-drawer-content {
  background-color: white;
}