<mat-card>
  <div [hidden]='view !== "dashboard"'>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between stretch">
      <executive-inventory fxFlex="49.75" [(data)]="data" (lookupView)='lookupView($event)'></executive-inventory>
      <executive-inventoryVariance fxFlex="49.75" [(data)]="data" (lookupView)='lookupView($event)'></executive-inventoryVariance>
    </div>
    <br>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between stretch">
      <executive-marsInventory #marsInventory fxFlex="100" [(data)]="data" (lookupView)='lookupView($event)'></executive-marsInventory>
    </div>
    <br>
  </div>

  <div [hidden]='view === "dashboard"'>
    <button mat-icon-button style='float: right;' (click)="clearUrlParams()">
      <mat-icon class="md-24">close</mat-icon>
    </button>
    <executive-lookup [(data)]="lookupData" (lookupDataChange)='lookupDataChange($event)'></executive-lookup>
  </div>
</mat-card>