
fieldset {
  border: 1px solid #cbd4df;
}

.float-right{
  float: right;
}
.size-24 {
  height: 24px;
  width: 24px;
}
.filterContainer {
  position: absolute;
  float: right;
  right: 25px;
}
.alignRight {
    text-align: right;
}
.floatRight {
  float: right;
}
.floatLeft {
  float: left;
}

.fontSize {
  margin-bottom: 25px;
  font-size: 1.125em;
}
