.filter-name {
  padding-right: 30px;
  white-space: nowrap;
}

.filter-icon {
  position: relative;
  right: 20px;
  top: -11px;
}

.filter-remove {
  position: absolute;
}

.expansion-panel__content[_ngcontent-c24] {
  margin-left: 0 !important;
}

.condition-chip {
  background-color: #bf360c;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}